/* .show-list-container {
    background-color: #f8f9fa;
    padding: 50px;
  }
  
  .show-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .show-item:hover {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  }
  
  .show-link {
    color: #212529;
    text-decoration: none;
  }
  
  .show-link:hover {
    text-decoration: none;
    color: #007bff;
  }
   */
/* 
.cinemaze-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.cinemaze-card {
  width: 250px;
  margin: 0;
} sasaasassa443434343*/